include ../icon/icon

mixin pagination()
	nav.pagination&attributes(attributes)
		a.pagination__item.pagination__item_prev(href="#") Back
		a.pagination__item.pagination__item_active(href="#") 1
		a.pagination__item(href="#") 2
		span.pagination__item.pagination__item_sep(href="#") …
		a.pagination__item(href="#") 4
		a.pagination__item(href="#") 5
		a.pagination__item.pagination__item_next(href="#") Next
