.pagination
	display flex
	justify-content center
	&__item
		border 2px solid transparent
		padding-top 7px
		padding-right 10px
		padding-bottom 7px
		padding-left 10px
		color #000000
		font-size 16px
		font-weight 400
		letter-spacing 0.55px
		text-decoration none


	&__item_active
		border 2px solid #ffbc77
		background-color #ffffff
		color #ffbc77
		font-weight 500
		border-radius 2px


	&__item_prev,
	&__item_next
		position relative
		text-indent -9999px
		opacity 1
		tr(opacity .3s ease)
		&:after
			position absolute
			top 50%
			left 50%
			content ''
			retinaSprite($pagination_arrow_group)
			transform translate(-50%, -50%)
		&:hover
			opacity .8
			tr(opacity .3s ease)

	&__item_prev
		margin-right 5px

	&__item_next
		margin-left 5px
		&:after
			transform translate(-50%, -50%) rotate(180deg)

	// &__item_sep


