/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_name = 'arrow';
$arrow_x = 0px;
$arrow_y = 0px;
$arrow_offset_x = 0px;
$arrow_offset_y = 0px;
$arrow_width = 10px;
$arrow_height = 14px;
$arrow_total_width = 26px;
$arrow_total_height = 46px;
$arrow_image = '../images/sprites/icons.png';
$arrow = 0px 0px 0px 0px 10px 14px 26px 46px '../images/sprites/icons.png' 'arrow';
$handle_icon_name = 'handle-icon';
$handle_icon_x = 0px;
$handle_icon_y = 22px;
$handle_icon_offset_x = 0px;
$handle_icon_offset_y = -22px;
$handle_icon_width = 4px;
$handle_icon_height = 24px;
$handle_icon_total_width = 26px;
$handle_icon_total_height = 46px;
$handle_icon_image = '../images/sprites/icons.png';
$handle_icon = 0px 22px 0px -22px 4px 24px 26px 46px '../images/sprites/icons.png' 'handle-icon';
$pagination_arrow_name = 'pagination-arrow';
$pagination_arrow_x = 18px;
$pagination_arrow_y = 0px;
$pagination_arrow_offset_x = -18px;
$pagination_arrow_offset_y = 0px;
$pagination_arrow_width = 8px;
$pagination_arrow_height = 14px;
$pagination_arrow_total_width = 26px;
$pagination_arrow_total_height = 46px;
$pagination_arrow_image = '../images/sprites/icons.png';
$pagination_arrow = 18px 0px -18px 0px 8px 14px 26px 46px '../images/sprites/icons.png' 'pagination-arrow';
$arrow_2x_name = 'arrow@2x'
$arrow_2x_x = 0px
$arrow_2x_y = 0px
$arrow_2x_offset_x = 0px
$arrow_2x_offset_y = 0px
$arrow_2x_width = 20px
$arrow_2x_height = 28px
$arrow_2x_total_width = 52px
$arrow_2x_total_height = 92px
$arrow_2x_image = '../images/sprites/icons@2x.png'
$arrow_2x = 0px 0px 0px 0px 20px 28px 52px 92px '../images/sprites/icons@2x.png' 'arrow@2x'
$handle_icon_2x_name = 'handle-icon@2x'
$handle_icon_2x_x = 0px
$handle_icon_2x_y = 44px
$handle_icon_2x_offset_x = 0px
$handle_icon_2x_offset_y = -44px
$handle_icon_2x_width = 8px
$handle_icon_2x_height = 48px
$handle_icon_2x_total_width = 52px
$handle_icon_2x_total_height = 92px
$handle_icon_2x_image = '../images/sprites/icons@2x.png'
$handle_icon_2x = 0px 44px 0px -44px 8px 48px 52px 92px '../images/sprites/icons@2x.png' 'handle-icon@2x'
$pagination_arrow_2x_name = 'pagination-arrow@2x'
$pagination_arrow_2x_x = 36px
$pagination_arrow_2x_y = 0px
$pagination_arrow_2x_offset_x = -36px
$pagination_arrow_2x_offset_y = 0px
$pagination_arrow_2x_width = 16px
$pagination_arrow_2x_height = 28px
$pagination_arrow_2x_total_width = 52px
$pagination_arrow_2x_total_height = 92px
$pagination_arrow_2x_image = '../images/sprites/icons@2x.png'
$pagination_arrow_2x = 36px 0px -36px 0px 16px 28px 52px 92px '../images/sprites/icons@2x.png' 'pagination-arrow@2x'
$sp_icons_width = 26px;
$sp_icons_height = 46px;
$sp_icons_image = '../images/sprites/icons.png';
$sp_icons_sprites = $arrow $handle_icon $pagination_arrow;
$sp_icons = 26px 46px '../images/sprites/icons.png' $sp_icons_sprites;
$retina_spritesheet_width = 52px
$retina_spritesheet_height = 92px
$retina_spritesheet_image = '../images/sprites/icons@2x.png'
$retina_spritesheet_sprites = $arrow_2x $handle_icon_2x $pagination_arrow_2x
$retina_spritesheet = 52px 92px '../images/sprites/icons@2x.png' $retina_spritesheet_sprites

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

// The list formatted variables are intended for mixins like `retinaSprite` and `retinaSprites`.

$arrow_group_name = 'arrow'
$arrow_group = 'arrow' $arrow $arrow_2x
$handle_icon_group_name = 'handle-icon'
$handle_icon_group = 'handle-icon' $handle_icon $handle_icon_2x
$pagination_arrow_group_name = 'pagination-arrow'
$pagination_arrow_group = 'pagination-arrow' $pagination_arrow $pagination_arrow_2x
$retina_groups = $arrow_group $handle_icon_group $pagination_arrow_group

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}


// The `retinaSprite` mixin sets up rules and a media query for a sprite/retina sprite.
// It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon_home_group = 'icon-home' $icon_home $icon_home_2x;
//
// .icon-home {
//     retinaSprite($icon_home_group)
// }


spriteBackgroundSize($sprite) {
	background-size $sprite[6] $sprite[7]
}

retinaSprite($retina_group) {
	$normal_sprite = $retina_group[1]
	$retina_sprite = $retina_group[2]
	sprite($normal_sprite)

	@media (-webkit-min-device-pixel-ratio: 2),
				 (min-resolution: 192dpi) {
		spriteImage($retina_sprite)
		spriteBackgroundSize($normal_sprite)
	}
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

// The `retinaSprites` mixin generates a CSS rule and media query for retina groups
// This yields the same output as CSS retina template but can be overridden in Stylus
//
// retinaSprites($retina_groups)

retinaSprites($retina_groups) {
	for $retina_group in $retina_groups {
		$sprite_name = $retina_group[0];
		.{$sprite_name} {
			retinaSprite $retina_group
		}
	}
}
