.settings
	margin auto
	margin-top 170px
	margin-bottom 170px
	max-width 786px
	height 802px
	box-shadow 0 6px 10px rgba(67, 64, 64, 0.25)
	background-color #feffff
	&__w
		position static
		margin auto
		margin-top 170px
		margin-bottom 170px
		padding-top 110px
		padding-right 56px
		padding-bottom 110px
		padding-left 56px
		max-width 786px
		width 100%
		background-color #feffff
		box-shadow 0 6px 10px rgba(67, 64, 64, 0.25)
		transform none
	&__form-w
		margin auto
		max-width 400px
		width 100%

	&__title
		margin-bottom 56px
	// &__form
