mixin hero()
	section.hero&attributes(attributes)
		.hero__in.container
			.hero__content
				h1.hero__title Get Free Access to
					span Car Cabin Noise Reports
				.hero__text
					p Enjoy peace and quiet on the road. Select a car, see cabin noise levels, find your perfect ride.
