mixin facts()
	section.facts&attributes(attributes)
		.facts__in.container
			h2.facts__title.title Quick Facts

			.facts__slider
				.facts__slider-item
					dl.facts__list
						.facts__item
							dt.facts__term 30 dB
							dd.facts__desc Causes missed fine detail when listening to your favourite music.

						.facts__item
							dt.facts__term 40 dB
							dd.facts__desc May become difficult for driver to hear a child’s voice from the rear seats.

						.facts__item
							dt.facts__term 50 dB
							dd.facts__desc Driver needs to speak up to be heard by companion in front passenger seat.

						.facts__item
							dt.facts__term 60 dB
							dd.facts__desc Additional tiredness can begin to affect all passengers.

						.facts__item
							dt.facts__term 70 dB
							dd.facts__desc When will the journey end???

				.facts__slider-item
					dl.facts__list
						.facts__item
							dt.facts__term 30 dB
							dd.facts__desc Causes missed fine detail when listening to your favourite music.

						.facts__item
							dt.facts__term 40 dB
							dd.facts__desc May become difficult for driver to hear a child’s voice from the rear seats.

						.facts__item
							dt.facts__term 50 dB
							dd.facts__desc Driver needs to speak up to be heard by companion in front passenger seat.

						.facts__item
							dt.facts__term 60 dB
							dd.facts__desc Additional tiredness can begin to affect all passengers.

						.facts__item
							dt.facts__term 70 dB
							dd.facts__desc When will the journey end???

				.facts__slider-item
					dl.facts__list
						.facts__item
							dt.facts__term 30 dB
							dd.facts__desc Causes missed fine detail when listening to your favourite music.

						.facts__item
							dt.facts__term 40 dB
							dd.facts__desc May become difficult for driver to hear a child’s voice from the rear seats.

						.facts__item
							dt.facts__term 50 dB
							dd.facts__desc Driver needs to speak up to be heard by companion in front passenger seat.

						.facts__item
							dt.facts__term 60 dB
							dd.facts__desc Additional tiredness can begin to affect all passengers.

						.facts__item
							dt.facts__term 70 dB
							dd.facts__desc When will the journey end???


				.facts__slider-item
					dl.facts__list
						.facts__item
							dt.facts__term 30 dB
							dd.facts__desc Causes missed fine detail when listening to your favourite music.

						.facts__item
							dt.facts__term 40 dB
							dd.facts__desc May become difficult for driver to hear a child’s voice from the rear seats.

						.facts__item
							dt.facts__term 50 dB
							dd.facts__desc Driver needs to speak up to be heard by companion in front passenger seat.

						.facts__item
							dt.facts__term 60 dB
							dd.facts__desc Additional tiredness can begin to affect all passengers.

						.facts__item
							dt.facts__term 70 dB
							dd.facts__desc When will the journey end???


			//- .facts__pagination
			//- 	.facts__pagination
