$archive-icon = 20px 20px
$basket-icon = 17px 19px
$close-icon = 12px 12px
$email-icon = 20px 13px
$fav-icon = 26px 24px
$print-icon = 20px 18px
$share-icon = 20px 16px
$url-icon = 20px 10px


svgSize($icon)
	width $icon[0]
	height $icon[1]