extends /blocks/layout-default/layout-inner

include /blocks/header/header

include /blocks/main/main
//- include /blocks/404/404
include /blocks/text/text

include /blocks/filter-page/filter-page

//- include /blocks/notification/notification


include /blocks/filter/filter

include /blocks/content/content
include /blocks/sidebar/sidebar

include /blocks/results/results

//- include /blocks/cta/cta
//- include /blocks/how/how
//- include /blocks/facts/facts
//- include /blocks/noise/noise

include /blocks/footer/footer


block head
	- var pageTitle = 'Filter page dropdown';

block content
	+header-dropdown()
	+main().container.page__inner
		//- +notification-cookie()
		+filter-page()
			+content()
				+results-no-results()
			+sidebar()
				+filter()

	+footer()
