mixin noise()
	section.noise&attributes(attributes)
		.noise__in.container
			h2.noise__title.title Noise Levels in Cars and SUVs
			.noise__row
				ul.noise__list
					li.noise__item
						.noise__item-title All cars
						.noise__text
							p Top achievers for lowest sound levels.
						a.noise__link(href="") Find Best Car
					li.noise__item
						.noise__item-title Compact small cars
						.noise__text
							p Quiet cars for noisy cities.
						a.noise__link(href="") Find Best Car
					li.noise__item
						.noise__item-title Mid-size saloon cars
						.noise__text
							p For quiet and dignified drivers.
						a.noise__link(href="") Find Best Car
					li.noise__item
						.noise__item-title Practical family cars
						.noise__text
							p Hear your kids not your engine.
						a.noise__link(href="") Find Best Car
					li.noise__item
						.noise__item-title Top of class luxury cars
						.noise__text
							p Silent excellence for connoisseurs.
						a.noise__link(href="") Find Best Car
					li.noise__item
						.noise__item-title Durable suvs
						.noise__text
							p Hard rides for easy listening.
						a.noise__link(href="") Find Best Car
