mixin text-terms()
	section.text&attributes(attributes)
		h1.text__title.title_second Terms of Use
		.text__entry
			h2 Use of this site
			p You agree not to:-
			p (a) reproduce, copy, distribute, modify, publish, transmit, display, use, reuse, re-publicize, assign, sublicense, sell, or exploit for any public or commercial purpose, any portion of the Site, use of the Site, or access to the Site.
			p (b) attempt to change, add to, remove, deface, hack or otherwise interfere with this Site or any material or content displayed on this Site; and/or
			p (c) access or use this Site in any way that could or is intended to damage or impair the Site, or any server or network underlying the Site, or interfere with anyone else's use and enjoyment of the Site.

			h2 Use of information

			p We have a group privacy policy which sets out how we handle personal data that you may provide or that we may collect, in connection with your access or use of this website. The policy is available on this website. You accept and agree to the terms set out in the policy and consent to the collection, use and disclosure of your personal data in accordance with the policy.

			h2 Submissions

			p You may post reviews of products or services, comments, suggestions, or other messages (collectively referred to as “Submissions”) so long as the content of your Submission is not unlawful, threatening, abusive, spiteful, defamatory, invasive of privacy, obscene, profane, sexually explicit, fraudulent or otherwise objectionable or injurious to third parties (including, but not limited to, any content that encourages conduct that would constitute a criminal offense, give rise to civil liability, or otherwise violate applicable law).

			h2 Links to this site

			p We do not use cookies for tracking purposes

			p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.

			p If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.that make your site experience more efficient and may not function properly.

			h2 Intellectual property rights

			p All editorial content, information, photographs, illustrations, artwork and other graphic materials, and names, logos and trade marks on this Site are protected by copyright laws and/or other laws and/or international treaties, and belong to us and/or our suppliers, as the case may be. These works, logos, graphics, sounds or images may not be copied, reproduced, retransmitted, distributed, disseminated, sold, published, broadcasted or circulated whether in whole or in part, unless expressly permitted by us and/or our suppliers, as the case may be.

			p Nothing contained on the Site should be construed as granting by implication, estoppel, or otherwise, any license or right to use any trademark displayed on the Site without our written permission. Misuse of any trademarks or any other content displayed on the Site is prohibited.

			h2 Changes to terms of use

			p These Terms of Use may be modified from time to time. Any modifications to these Terms of Use will be effective upon posting. You should therefore read these Terms of Use before you place any order. Your continued use of the Site after any modifications to the Terms of Use indicates your acceptance of the modified Terms of Use





mixin text-privacy()
	section.text&attributes(attributes)
		h1.text__title.title_second Privacy Policy
		.text__entry
			p This privacy policy has been compiled to better serve those who are concerned with how their 'Personally Identifiable Information' (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.

			h2 What personal information do we collect from the people that visit our blog, website or app?

			p When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, credit card information or other details to help you with your experience.

			h2 When do we collect information?

			p We collect information from you when you register on our site, place an order or enter information on our site.

			h3 How do we use your information?

			p We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:

			ul
				li To personalize your experience and to allow us to deliver the type of content and product offerings in which you are most interested.
				li To improve our website in order to better serve you.
				li To allow us to better service you in responding to your customer service requests.
				li To quickly process your transactions.

			h3 How do we protect your information?


			p Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.

			p We use regular Malware Scanning.

			p Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.

			p We implement a variety of security measures when a user places an order to maintain the safety of your personal information. <br/>All transactions are processed through a gateway provider and are not stored or processed on our servers.

			h3 Do we use 'cookies'?

			p We do not use cookies for tracking purposes

			p You can choose to have your computer warn you each time a cookie is being sent, or you can choose to turn off all cookies. You do this through your browser settings. Since browser is a little different, look at your browser's Help Menu to learn the correct way to modify your cookies.

			p If you turn cookies off, Some of the features that make your site experience more efficient may not function properly.that make your site experience more efficient and may not function properly.

			h3 Fair Information Practices

			p The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.

			p In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur: <br/>We will notify you via email

			ul
				li Within 1 business day

			p We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors.
