.how
	margin-top 37px
	margin-bottom 38px
	overflow hidden
	// &__in

	&__w
		margin-left 30px
		margin-right 30px
		padding-top 55px
		padding-bottom 45px
		background #FFF
		text-align center
	&__title
		margin-bottom 80px
	&__list
		padding-left 12px
		padding-right 12px
		display flex
		// flex-wrap wrap
		justify-content center
		+rmin($tM)
			padding-left 98px
			padding-right 98px
			justify-content space-between
	&__item
		margin-bottom 30px
		max-width 320px
	&__icon
		margin-bottom 30px
		max-width 100%
		height auto
	&__item-title
		margin-bottom 14px
		color #2c2c2c
		font-size 18px
		font-weight 500
		letter-spacing 0.43px
		text-transform uppercase
	&__text
		line-height 1.562
