mixin how()
	section.how&attributes(attributes)
		.how__in.container
			.how__w
				h2.how__title.title How it works
				ul.how__list
					li.how__item
						img.how__icon(src='assets/images/general/short-list-icon.png', srcset='assets/images/general/short-list-icon@2x.png 2x, assets/images/general/short-list-icon@3x.png 3x')
						.how__item-title Create a shortlist
						.how__text Use four simple filters to select your best options.
					li.how__item
						img.how__icon(src='assets/images/general/prioritise-icon.png', srcset='assets/images/general/prioritise-icon@2x.png 2x, assets/images/general/prioritise-icon@3x.png 3x')
						.how__item-title Prioritise them
						.how__text Drag-drop options and prioritise them according to your needs.
					li.how__item
						img.how__icon(src='assets/images/general/final-icon.png', srcset='assets/images/general/final-icon@2x.png 2x, assets/images/general/final-icon@3x.png 3x')
						.how__item-title You have a winner!
						.how__text Congratulations, you’ve now found your perfect car.
